<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active">
            Home
          </a>
        </li>

      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy;
      {{currentYear}} <a href="http://www.jessewilbrink.nl">Jesse
        Wilbrink</a>, all rights reserved
    </p>
  </div>
</footer>