<div class="col-md-4">
  <div class="card card-user">
    <div class="image">
      <img src={{omslagpic}} alt="..." />
    </div>
    <div class="content">
      <div class="author">
        <a href="#">
          <img class="avatar border-gray" src={{profilepic}} alt="..." />

          <h4 class="title">{{naam}}<br />
            <small>{{nickname}}</small>
          </h4>
        </a>
      </div>
      <p class="description text-center"> {{bericht}}
      </p>
    </div>
    <hr>
    <div class="text-center">
      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

    </div>
  </div>
</div>