<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x1_5"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>
</div>
<div class='c'>
  <div class='_404'>404</div>
  <hr>
  <div class='_1'>OEPS!</div>
  <div class='_2'>DEZE PAGINA KAN IK HELAAS NIET VINDEN</div>
  <a class='btn' routerLink="/" routerLinkActive="active">TERUG NAAR HOME</a>
</div>