<div class="col-md-5">
  <div class="card" id="card-spelers">
    <div class="header">
      <h4 class="title">Mijn spelers</h4>
    </div>
    <div class="content table-responsive">
      <table class="table">
        <thead>
          <th>#</th>
          <th>Naam</th>
          <th>Positie</th>
          <th>Club</th>
        </thead>
        <tbody>
          <tr *ngFor="let speler of spelers; index as i">
            <td>{{i+1}}</td>
            <td>{{speler.voornaam}} {{speler.tussenvoegsel}} {{speler.achternaam}}</td>
            <td>{{speler.positie}}</td>
            <td>{{speler.club}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="card">
    <div class="header">
      <h4 class="title">Budget</h4>
    </div>
    <div class="content">
      <p id="budget-text">€25.000.000</p>

    </div>
  </div>
</div>
