<div class="col-md-5">
  <div class="card">
    <div class="header">
      <h4 class="title">Mijn superteam</h4>
      <p class="category"></p>
    </div>
    <div class="content">
      <div class="img-overlay">
        <img id="veld-img" src="assets\img\mijnteam\veld.png">
        <div class="overlay">
          <div class="row linie">
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" src="assets\img\mijnteam\Ziyech.png">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <!-- komt van http://futhdhub.com/card-creator/r -->
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" src="assets\img\mijnteam\Ziyech.png">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" src="assets\img\mijnteam\Ziyech.png">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img"
                src="assets\img\mijnteam\Ziyech.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img"
                src="assets\img\mijnteam\Ziyech.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img"
                src="assets\img\mijnteam\Ziyech.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img"
                src="assets\img\mijnteam\BLIND.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img"
                src="assets\img\mijnteam\BLIND.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img"
                src="assets\img\mijnteam\BLIND.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img"
                src="assets\img\mijnteam\BLIND.png"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-4 keeper text-center"></div>
            <div class="col-xs-4 keeper text-center"><img class="shirt-img" src="assets\img\mijnteam\Ziyech.png">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 keeper text-center"></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Je hebt nog 2 dagen om je team in te vullen
        </div>
      </div>
    </div>
  </div>
</div>
