<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-dashboard"></i>
            <p class="hidden-lg hidden-md">Dashboard</p>
          </a>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-globe"></i>
            <b class="caret hidden-lg hidden-md"></b>
            <span class="notification hidden-sm hidden-xs">{{aantalNotificaties}}</span>
            <p class="hidden-lg hidden-md">
              {{aantalNotificaties}} Notificaties
              <b class="caret"></b>
            </p>
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let notification of notifications"><a href={{notification.link}}>{{notification.bericht}}</a>
            </li>
          </ul>
        </li>
        <!-- <li>
          <a href="">
            <i class="fa fa-search"></i>
            <p class="hidden-lg hidden-md">Search</p>
          </a>
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <p>
              {{userName}}
              <b class="caret"></b>
            </p>

          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/userprofile">Profiel bewerken</a></li>
            <li class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
