#veld-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

.shirt-img {
  width: 50%;
}

.img-overlay {
  position: relative;
}

.aanval .shirt-img {
  max-width: 45%;
  cursor: pointer;
}


.middenveld .shirt-img {
  max-width: 45%;
  cursor: pointer;
}


.verdediging .shirt-img {
  width: 63.5%;
  cursor: pointer;
}

.keeper .shirt-img {
  max-width: 45%;
  cursor: pointer;
}

.linie {
  margin-left: 0;
  margin-right: 0;
  height: 25%;
}

.veld-waarde {
  color: white;
  line-height: 0.7;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9em;
}
