<div class="col-md-7">
  <div class="card">
    <div class="header">
      <h4 class="title">Mijn superteam</h4>
      <p class="category">Klik op een icoon in het veld om een speler toe te voegen.</p>
    </div>
    <div class="content">
      <div class="img-overlay">
        <img id="veld-img" src="assets\img\mijnteam\veld.png">
        <div class="overlay">
          <div class="row linie">
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" (click)="getSpelerClickEvent(9)"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal">
              <br>
              <p class=" veld-waarde">€5.000.000</p>
            </div>
            <!-- komt van http://futhdhub.com/card-creator/r -->
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" (click)="getSpelerClickEvent(10)"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 aanval text-center"><img class="shirt-img" (click)="getSpelerClickEvent(11)"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(6);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(7);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 middenveld text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(8);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(2);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(3);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(4);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-3 verdediging text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(5);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal"><br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
          </div>
          <div class="row linie">
            <div class="col-xs-4 keeper text-center"></div>
            <div class="col-xs-4 keeper text-center"><img class="shirt-img" (click)="this.getSpelerClickEvent(1);"
                src="assets\img\mijnteam\card.png" data-toggle="modal" data-target="#spelerModal">
              <br>
              <p class="veld-waarde">€5.000.000</p>
            </div>
            <div class="col-xs-4 keeper text-center"></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Je hebt nog 2 dagen om je team in te vullen
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div id="spelerModal" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Selecteer een {{geselecteerdePositie}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" [formGroup]="vindSpelerForm">

          <!-- linienummer -->
          <input type="hidden" id="linienummer" formControlName="linienummer" value=3>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="waarde">Selecteer waarde</label>
            <div class="col-md-4">
              <select id="waarde" formControlName="waarde" class="form-control">
                <option value=1>€1.000.000</option>
                <option value=2>€2.000.000</option>
                <option value=3>€3.000.000</option>
                <option value=4>€4.000.000</option>
                <option value=5>€5.000.000</option>
              </select>
            </div>
          </div>

          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="club">Selecteer Club</label>
            <div class="col-md-4">
              <select id="club" formControlName="club" class="form-control">
                <option value="Ajax">Ajax</option>
                <option value="ADO Den Haag">ADO Den Haag</option>
                <option value="AZ">AZ Alkmaar</option>
                <option value="FC Emmen">FC Emmen</option>
                <option value="FC Groningen">FC Groningen</option>
                <option value="FC Twente">FC Twente</option>
                <option value="FC Utrecht">FC Utrecht</option>
                <option value="Feyenoord">Feyenoord</option>
                <option value="Fortuna Sittard">Fortuna Sittard</option>
                <option value="Heerenveen">Heerenveen</option>
                <option value="Heracles Almelo">Heracles Almelo</option>
                <option value="PEC Zwolle">PEC Zwolle</option>
                <option value="PSV">PSV</option>
                <option value="RKC Waalwijk">RKC Waalwijk</option>
                <option value="Sparta">Sparta</option>
                <option value="Vitesse">Vitesse</option>
                <option value="VVV-Venlo">VVV-Venlo</option>
                <option value="Willem II">Willem II</option>
              </select>
            </div>
          </div>
          <!-- Select Basic -->
          <div class="form-group" *ngIf="!spelerisleegCheck()">
            <label class="col-md-4 control-label" for="speler">Selecteer speler</label>
            <div class="col-md-4">
              <select id="speler" formControlName="speler" class="form-control">
                <option value="" disabled selected>Kies een speler</option>
                <option *ngFor="let speler of spelers" [ngValue]="speler">{{speler.voornaam}}
                  {{speler.achternaam}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-8 text-right" *ngIf="spelerisleegCheck()">
              <p class="text-danger">Geen spelers beschikbaar voor gekozen criteria</p>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group" *ngIf="!spelerisleegCheck()">
            <label class="col-md-4 control-label" for="spelerOpslaanButton"></label>
            <div class="col-md-4">
              <button id="spelerOpslaanButton" name="spelerOpslaanButton" class="btn btn-success"
                (click)="submitSpeler()">Opslaan</button>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
      </div>
    </div>

  </div>
</div>
