<div class="col-md-8">
  <div class="card">
    <div class="header">
      <h4 class="title">Profiel Bewerken</h4>
    </div>
    <div class="content">
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Voornaam</label>
              <input type="text" class="form-control" placeholder="Voornaam" value="" [(ngModel)]="user.voornaam"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Tussenvoegsel</label>
              <input type="text" class="form-control" placeholder="tussenvoegsel" value=""
                [(ngModel)]="user.tussenvoegsel" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Achternaam</label>
              <input type="text" class="form-control" placeholder="Achternaam" value="" [(ngModel)]="user.achternaam"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label>Adres</label>
              <input type="text" class="form-control" placeholder="Adres" value="" [(ngModel)]="user.adres"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Plaats</label>
              <input type="text" class="form-control" placeholder="Plaats" value="" [(ngModel)]="user.plaats"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Postcode</label>
              <input type="text" class="form-control" placeholder="Postcode" [(ngModel)]="user.postcode"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="exampleInputEmail1">Emailadres</label>
              <input type="email" class="form-control" placeholder="Emailadres" [(ngModel)]="user.emailadres"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Wachtwoord</label>
              <input type="password" class="form-control" placeholder="Wachtwoord" [(ngModel)]="user.wachtwoord"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-info btn-fill pull-right" (click)="opslaan()">Opslaan</button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
