<div class="sidebar" data-color="groenblauw" data-image="assets/img/sidebar-10.jpg">

  <!--

      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag

  -->

  <div class="sidebar-wrapper">
    <div class="logo">
      <a routerLink="/" routerLinkActive="active" class="simple-text">
        <img id="sidenav-logo" src={{logo}}>
      </a>
    </div>

    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/userprofile">
          <i class="pe-7s-user"></i>
          <p>Gebruiker</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/mijnteam">
          <i class="pe-7s-cup"></i>
          <p>Mijn team</p>
        </a>
      </li>
    </ul>
  </div>
</div>
