<div class="col-md-5">
  <div class="card">
    <div class="header">
      <h4 class="title">Oudergesprekplanner</h4>
      <p class="category">Klik op het tijdstip dat u op gesprek wil komen.</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-5">
          <select name="tijden" id="tijden" class="dropdown-toggle material_dropdown_btn" type="button" #datum
            (change)="setTimeSelector(datum.value)">
            <option *ngFor="let datum of datumArray" [value]="datum">{{datum}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <select *ngIf="(this.selected == 1)" name="tijden" id="tijden" class="dropdown-toggle material_dropdown_btn"
            type="button">
            <option *ngFor="let tijd of arrayDatum1" [value]="tijd.tijd">{{tijd.tijd}}</option>
          </select>
          <select *ngIf="(this.selected == 2)" name="tijden" id="tijden" class="dropdown-toggle material_dropdown_btn"
            type="button">
            <option *ngFor="let tijd of arrayDatum2" [value]="tijd.tijd">{{tijd.tijd}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <button type="submit" class="btn btn-info btn-fill pull-right" (click)="opslaan()">Opslaan</button>
        </div>
      </div>
      <div class="footer">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> {{dagenTekst}}
        </div>
      </div>
    </div>
  </div>
</div>