.table-hover td {
    text-align: center;   
    cursor: pointer;
 }

 .table-hover th {
    text-align: center;   
 }

 .clicked{
     background-color: #87CB16 ;
 }

.dateSelector{
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #9A9A9A;
    display: inline-block;
    max-width: 100%;
}

.timeSelector{
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 5px;
}

 .material_dropdown {
    /* border-bottom: 1px solid #eee; */
    width: 200px;
  }
  .material_dropdown_btn {
    border-radius: 0;
    border: none;
    width: 100%;
    text-align: left;
    background: none;
  }
  .material_dropdown_btn .caret {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
  }