<div class="content">
  <div class="container-fluid">
    <div class="row">
      <app-mijnopstelling></app-mijnopstelling>
      <app-opstellingcreator></app-opstellingcreator>
    </div>
    <div class="row">
      <app-spelersoverzicht></app-spelersoverzicht>
    </div>
